@define-color background #0A060B;
@define-color foreground #a6c5e2;
@define-color color0 #0A060B;
@define-color color1 #798678;
@define-color color2 #052C8B;
@define-color color3 #1E58A4;
@define-color color4 #5265B3;
@define-color color5 #BD5094;
@define-color color6 #4388C0;
@define-color color7 #a6c5e2;
@define-color color8 #74899e;
@define-color color9 #798678;
@define-color color10 #052C8B;
@define-color color11 #1E58A4;
@define-color color12 #5265B3;
@define-color color13 #BD5094;
@define-color color14 #4388C0;
@define-color color15 #a6c5e2;